:root {
  --primary-font: 'Manrope';

  --accent-color: #4440f6;

  --text-status-color: #00dd73;

  --text-color-white: #ffffff;

  --background-color-white: #ffffff;

  /* Light theme */

  --primary-text-color-light-theme: #111321;
  --primary-background-color-light-theme: #f4f4f4;

  /* Dark theme */

  --primary-text-color-dark-theme: #f4f4f4;
  --background-color-dark-theme: #2e2e2e;
}
