<section class="news">
  <div class="container">
    <div class="news-navigation">
      <ul class="news__filtr-menu">
        <li class="news__filtr-menu-item">
          <button
            class="news__filtr-menu-button news__filtr-menu-button--active"
          >
            Admin
          </button>
        </li>
        <li class="news__filtr-menu-item">
          <button class="news__filtr-menu-button">Arts</button>
        </li>
        <li class="news__filtr-menu-item">
          <button class="news__filtr-menu-button">Automobiles</button>
        </li>
        <li class="news__filtr-menu-item">
          <button class="news__filtr-menu-button">Books</button>
        </li>
        <li class="news__filtr-menu-item">
          <button class="news__filtr-menu-button">Briefing</button>
        </li>
        <li class="news__filtr-menu-item">
          <button class="news__filtr-menu-button">Business</button>
        </li>
        <li class="news__filtr-menu-item">
          <button class="news__filtr-menu-button">Others</button>
        </li>
      </ul>
      <div class="date-picker">
        <p>Date Picker</p>
        <form class="date-form">
          <input class="date-form__input" type="text" name="query" />
          <!-- <div class="date-form__icon"></div> -->
          <svg class="date-form__icon-calendar">
            <use href="/src/images/icon/symbol-defs.svg#icon-calendar"></use>
          </svg>
          <div class="date-form__button">
            <svg class="date-form__button-icon">
              <use
                href="/src/images/icon/symbol-defs.svg#icon-arrow-down"
              ></use>
            </svg>
          </div>
          <!-- <button class="date-form__button">
            <svg class="date-form__icon">
              <use href="./images/icons.svg#icon-bx_search"></use>
            </svg>
          </button> -->
        </form>
      </div>
    </div>
  </div>
</section>
