<section class="news">
  <div class="news-container">
    <div class="news-navigation">
      <div class="filtr-buttons-container">
        <!-- <button
          type="button"
          class="news__filtr-menu-button menu-button-others"
        >
          Others

          <svg class="menu-button-others__icon">
            <use href="/src/images/icons.svg#others-arrow"></use>
          </svg>
        </button> -->
      </div>
      <div class="date-picker">
        <form class="date-form">
          <input
            class="date-form__input"
            name="query"
            placeholder="Select a date"
            readonly
          />
          <svg class="date-form__icon-calendar">
            <use href="/src/images/icon/symbol-defs.svg#icon-calendar"></use>
          </svg>
          <div class="date-form__button">
            <svg class="date-form__button-icon">
              <use
                href="/src/images/icon/symbol-defs.svg#icon-arrow-down"
              ></use>
            </svg>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
