.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 20px;
  background-color: var(--primary-text-color-dark-theme);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 30px);
  }

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--primary-text-color-dark-theme);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;

    &:hover .modal__close-icon,
    &:focus .modal__close-icon {
      fill: var(--accent-color);
      background-color: var(--primary-text-color-dark-theme);
      border-color: var(--accent-color);
    }
  }

  &__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}

.order-form {
  &__lable {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--title-text-color);
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:hover .order-form__icon {
      fill: var(--accent-color);
    }

    &:focus-within .order-form__icon {
      fill: var(--accent-color);
    }
  }

  &__icon {
    position: absolute;
    // // width: 18px;
    // height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      background-color: var(--background-color-white);
      cursor: pointer;
    }
  }
}

.modal-button {
  display: flex;
  padding: 8px 21px;
  border-radius: 20px;
  background-color: var(--background-color-white);
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--primary-text-color);
  cursor: pointer;
  font-family: var(--primary-font);
  outline: none;

  &:hover,
  &:focus {
    box-sizing: border-box;
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.block-button {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.dark-text {
  color: #5f6775;
}

.modal-dark {
  background-color: #2e2e2e;
  color: #f4f4f4;
  // border: 1px solid #f4f4f4;
}

.modal-button.modal-dark {
  color: #f4f4f4;
  border-color: #f4f4f4;
}

.order-form__input.modal-dark {
  color: #f4f4f4;
  border-color: #f4f4f4;
  border: 1px solid #f4f4f4;

  &:hover,
  &:focus {
    background-color: #2e2e2e;
    border-color: #f4f4f4;
    color: #f4f4f4;
  }
}

.order-form__input.modal-dark {
  color: #f4f4f4;
  border-color: #f4f4f4;
  border: 1px solid #f4f4f4;
}

.modal__close-button.modal-dark {
  color: #f4f4f4;
  border-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  fill: #f4f4f4;
}
