.news-container {
  margin: 0 auto;
  width: 320px;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.news {
  padding: 28px 0;
}

.news-navigation {
  display: flex;
  justify-content: space-between;
}
.news__filtr-menu {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.news__filtr-menu-button {
  cursor: pointer;
  padding: 8px 23px;
  border: 1px solid #4b48db;
  color: #4440f6;
  border-radius: 20px;
  background-color: white;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    background-color: #4b48db;
    color: #ffffff;
  }

  &--active {
    background-color: #4b48db;
    color: #ffffff;
  }
}

.menu-button-others {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover .menu-button-others__icon {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  &__icon {
    width: 10px;
    height: 10px;
    border-top: 2px solid #4b48db;
    border-right: 2px solid #4b48db;
    margin-left: 10px;

    transform: rotate(-45deg);
  }
}

.icon-is-white {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.icon-is-rotate {
  transform: rotate(135deg);
}
.filtr-buttons-container {
  position: relative;
}

.other-buttons-container {
  z-index: 10;
  position: absolute;
  top: 34px;
  left: 0;
  width: 168px;
  height: 380px;
  padding: 8px 0;
  overflow-y: scroll;

  background-color: #f8f8f8;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    top: 34px;
    left: 400px;
  }
  @media screen and (min-width: 1280px) {
    top: 34px;
    left: 612px;
  }
}

.btns-are-hidden {
  display: none;
}

.other-button {
  padding: 6px 24px;
  width: 100%;
  cursor: pointer;
  border: none;

  background-color: transparent;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #4440f7;

  &:hover {
    text-decoration: underline;
  }
}

// =====================================================================

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-form {
  position: relative;

  width: 140px;
  @media screen and (min-width: 768px) {
    width: 168px;
  }
}
.date-form__input {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  height: 31px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #111321;
  outline: none;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.date-form__input::placeholder {
  color: #111321;
}

.input-dark-mode {
  color: #f4f4f4;
  background-color: #2e2e2e;
  border: 1px solid #f4f4f4;
}

.input-dark-mode::placeholder {
  color: #f4f4f4;
  opacity: 0.4;
}

.date-form__icon:hover {
  // color: #4b48db;
}

.date-form__icon-calendar {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111321;
  fill: var(--accent-color);
}

.date-form__button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #111321;
}

.date-form__button:hover {
  color: #4b48db;
}

.date-form__button.rotate {
  transform: rotate(180deg);
}

.date-form__button-icon {
  width: 20px;
  height: 20px;
  // fill: #4440f6;
}

.button-dark-mode {
  fill: #f4f4f4;
}
