.footer {
  padding: 30;

  background: #4340f7fd;
  background: linear-gradient(0deg, #4340f7fd 4%, rgb(119, 173, 217) 100%);
}

.footer-container {
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
  margin: 0 auto;
}

// .footer-box {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     align-items: baseline;
//   }
// }

.footer-logo {
  @media screen and (min-width: 320px) {
    font-size: 24px;
    line-height: 33px;
  }
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 44px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 42px;
    line-height: 57px;
  }
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  color: white;
}
.footer-menu__link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 900;
  font-size: 18;
  color: white;
}
.footer-address {
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-address__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.footer-contacts__title {
  @media screen and (min-width: 320px) {
    font-size: 16px;
    line-height: 1.4;
    margin-right: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.4;
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.4;
    margin-right: 20px;
  }
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  color: white;
}
.footer-address__item {
  margin-right: 20px;
}

.footer-address__link {
  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.4;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.4;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.4;
  }

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  color: white;
}

.footer-social__list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.footer-social__item {
  @media screen and (min-width: 1280px) {
    margin-right: 100px;
  }

  margin-right: 40px;
}

.footer-social__link {
  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.4;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.4;
  }
  @media screen and (min-width: 1280px) {
    font-size: 22px;
    line-height: 1.4;
  }
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 900;
  color: white;
  font-size: px;
}
.footer-mark {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  color: white;
}

.footer-mark {
  display: flex;
  justify-content: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footer-menu__item {
  margin-right: 30;
}
.footer-menu__item:last-child {
  margin-right: 0;
}
.footer-menu__item:hover {
  transform: scale(1.2);
}
.footer-menu__item:focus {
  transform: scale(1.2);
}
