.loading__frame {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
  &.loading__hidden {
    opacity: 0;
    pointer-events: none;
  }

  background-color: #2e2e2e5d;
}
.loading__icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-image: url(../images/loading.gif);
}
