.gallery__cards-list {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(3, minmax(395px, 1fr));
  grid-auto-rows: 675px;
  grid-gap: 32px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.card-photo {
  position: relative;
}

.image-wrapper {
  width: 395px;
  height: 395px;
}

.photo {

    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-category {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 112px;
  height: 24px;
  left: 0px;
  top: 40px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  padding: 4px 8px 4px 8px;
}

.add-to-favorite {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #111321;
  width: 126px;
  height: 28px;
  left: 256px;
  top: 355px;
  background: #ffffff;
  border-radius: 20px;
}

.add-to-favorite__icon {
  // fill: #4440F6;
  width: 16px;
  height: 14px;
  stroke: #4440f6;
  color: #4440f6;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  margin-top: 20px;
  margin-bottom: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  text-align: right;
  color: #a8a8a8;
  margin-right: 205px;

  position: absolute;
  width: 85px;
  height: 22px;
  left: 0px;
  top: 653px;
}

.card-url {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #4440f7;

  position: absolute;
  // width: 79px;
  // height: 22px;
  left: 290px;
  top: 653px;
}
