html {
  scroll-behavior: smooth;
}
.pagination__wrap {
  position: relative;
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.pagination__item {
  border-radius: 6px;
  overflow: hidden;

  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:not(:first-child) {
    margin-left: 8px;
  }
}

.pagination__btn {
  background: #f4f4f4;
  border: 1px solid #4440f6;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  &.pre-dots,
  &.post-dots {
    margin-left: -8px;
    margin-right: -8px;
    border: none;
    background: transparent;
    .dark-mode & {
      color: white;
    }
  }
  background: #f4f4f4;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #111321;
  cursor: pointer;
}

.pagination__link {
  width: 100%;
  height: 100%;
  color: currentColor;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__current-page {
  border-color: #4440f6;
  background-color: #4440f6;
  color: #f4f4f4;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

.pagination__btn {
  &.pre-dots,
  &.post-dots {
    margin-left: -8px;
    margin-right: -8px;
    border: none;
    background: transparent;
    .dark-mode & {
      color: white;
    }
  }
}

.pagination__arrow-right .pagination__icon {
  width: 18px;
  height: 18px;
  background-image: url(../images/pagination__arrow.png);
  background-size: contain;
}
.pagination__arrow-left .pagination__icon {
  width: 18px;
  height: 18px;
  background-image: url(../images/pagination__arrow.png);
  transform: rotate(180deg);
  background-size: contain;
}
a.pagination__arrow-left,
a.pagination__arrow-right {
  width: 72px;
  @media screen and (max-width: 425px) {
    width: 30px;
  }
}

.pagination__page-icon {
  width: 16px;
  height: 16px;
}

.pagination__num {
  display: flex;
  @media screen and (max-width: 425px) {
    display: none;
    margin: 0;
  }
}

.pagination__text {
  display: block;
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.news__plug {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60vh;
  background-image: url(../images/plug.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
