<!-- footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-box">
            <a class="footer-logo" href="./index.html">News</a>
        <address class="footer-address">
            <p class="footer-contacts__title">Contacts:</p>
            <ul class="footer-address__list">
                <li class="footer-address__item">
                    <a class="footer-address__link" href="mailto:letters@nytimes.com">letters@nytimes.com</a>
                </li>
                <li><a class="footer-address__link" href="tel:808 164 4407">808 164 4407</a></li>
            </ul>
        </address>
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="https://www.facebook.com">Facebook</a>
                </li>
                <li class="">
                    <a class="footer-social__link" href="https://twitter.com">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</footer>