<!-- footer -->
<footer class="footer">
    <div class="footer-container">

        <!-- <a class="footer-logo" href="./index.html">News</a> -->
        <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="">Home</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="./favorite.html">Favourite</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="./read.html">Read</a></li>
        </ul>

        <address class="footer-address">
            <p class="footer-contacts__title">Contacts:</p>
            <ul class="footer-address__list">
                <li class="footer-address__item">
                    <a class="footer-address__link" href="mailto:letters@nytimes.com">letters@nytimes.com</a>
                </li>
                <li><a class="footer-address__link" href="tel:808 164 4407">808 164 4407</a></li>
            </ul>
        </address>

        <p class="footer-mark">Q-TEAM | All Rights Reserved</p>
    </div>
</footer>