<!-- ==================header===================== -->

<header class="header" id="top">
  <div class="header-container">
    <div class="header-menu">
      <nav class="nav">
        <a class="header__logo" href="./index.html">News</a>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--current" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./favorite.html">Favorite</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./read.html">Read</a>
          </li>
        </ul>
      </nav>

      <div class="search">
        <form class="search-form">
          <input class="search-form__input" type="text" placeholder="Search" name="query" autocomplete="off" />
          <button class="search-form__button" type="submit">
            <svg class="search-form__icon">
              <use href="./images/icons.svg#icon-bx_search"></use>
            </svg>
          </button>
          <svg class="search-form__icon search-form__icon-search">
            <use href="./images/icons.svg#icon-bx_search"></use>
          </svg>
        </form>
      </div>

      <div class="user-settings">
        <div class="loginState"></div>

        <button type="button" class="button-authorization" data-modal-open>
          Log In
        </button>

        <div class="switcher">
          <span class="switcher__text-light">Light</span>
          <svg class="icon-sun" width="21" height="21">
            <use href="./images/icons.svg#icon-sun"></use>
          </svg>
          <input type="checkbox" class="switcher__input" id="theme" />
          <label for="theme" class="switcher__label"></label>
          <span class="switcher__text-dark">Dark</span>
          <svg class="icon-moon" width="21" height="21">
            <use href="./images/icons.svg#icon-moon"></use>
          </svg>
        </div>
      </div>
      <button class="mobile-menu__button-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="mobile-menu-button__icon">
          <use href="./images/icons.svg#burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- ==================burger===================== -->

<div class="mobile-menu-container js-menu-container" id="mobile-menu">
  <button class="mobile-menu__button-close js-close-menu">
    <svg class="mobile-menu-button__icon">
      <use href="./images/icons.svg#x-close-btn"></use>
    </svg>
  </button>
  <div class="mobile-menu">
    <a class="mobile-logo" href="">News</a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="">
          <svg class="mobile-menu__icon">
            <use href="./images/icons.svg#home"></use>
          </svg>
          Home
          <svg class="mobile-menu__right-arrow">
            <use href="./images/icons.svg#right-chevron"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="">
          <svg class="mobile-menu__icon">
            <use href="./images/icons.svg#heart"></use>
          </svg>
          Favorite
          <svg class="mobile-menu__right-arrow">
            <use href="./images/icons.svg#right-chevron"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="">
          <svg class="mobile-menu__icon">
            <use href="./images/icons.svg#book"></use>
          </svg>
          Read
          <svg class="mobile-menu__right-arrow">
            <use href="./images/icons.svg#right-chevron"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="user-settings--mobile">
      <div class="loginState"></div>

      <button type="button" class="button-authorization" data-modal-open2>
        Log In
      </button>

      <div class="switcher-burger">
        <span class="switcher-burger__text-light">Light</span>
        <svg class="icon-sun-burger" width="21" height="21">
          <use xlink:href='./images/icons.svg#icon-sun'></use>
        </svg>

        <input type="checkbox" class="switcher-burger__input" id="theme-burger" />
        <label for="theme-burger" class="switcher-burger__label"></label>
        <svg class="icon-moon-burger" width="21" height="21">
          <use xlink:href='./images/icons.svg#icon-moon'></use>
        </svg>
        <span class="switcher-burger__text-dark">Dark</span>

      </div>
    </div>
  </div>
</div>
</div>