<header class="header">
  <div class="container">
    <div class="header-menu">
      <nav class="nav">
        <a class="header__logo" href="./index.html">News</a>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--current" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./favorite.html">Favorite</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./read.html">Read</a>
          </li>
        </ul>
      </nav>

      <form class="search-form">
        <input
          class="search-form__input"
          type="text"
          placeholder="Search |"
          name="query"
        />
        <button class="search-form__button" type="submit">
          <svg class="search-form__icon">
            <use href="./images/icons.svg#icon-bx_search"></use>
          </svg>
        </button>
      </form>
      <div class="loginState"></div>
      <button type="button" class="button-authorization" data-modal-open>
        Log In
      </button>

      <div class="theme-switcher">Light/Dark</div>
    </div>
  </div>
</header>
